@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Date of establishment: </h3>
<p>1947</p>

<h3>Founder: </h3>
<p>Abdülsıddık Etibüyük</p>

<h3>Who are we?</h3>
<p>Our aim is to offer you an exceptional night with lots of different cuisines.</p>
<p>We have different Restaurants of our most desired Restaurant chain. And we cant wait to welcome you all!</p>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <input type="submit" value="Back To Mainpage" />
            }
