@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to our restaurant!</h2>
<p>wertyuıopişlkjhgfdsaxcvbnmöçişlkjhgfdsaqwertyuıopğişlkjhgfdsazxcvbnmöç.işlkjhgfdsaqwertyuıopğü</p>
<p>qwertyuıopğsdfghjklşixcvbnmöçdfghjklşrtyuıopğüsdfghjklşxcvbnmö</p>

<h1>Gallery</h1>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>
<p>wertyuıopsdfghjklşzxcvbnmöçsdfghjklertyuıosdfghjkzxcvbnmösdfghjkertyuı</p>

@Html.ActionLink("List", "List", "Reservations")